*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/.boot/
project/.sbtboot/
project/.ivy/
project/plugins/project/
.bsp/
.idea/

# Scala-IDE specific
.scala_dependencies
.worksheet
